# Q1. Create a python program to sort the given list of tuples based on integer value using a 
# lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [23]:
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [24]:
sort_integer = sorted(l,key=lambda x : x[1])

In [25]:
sort_integer

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [6]:
# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using 
#  lambda and map functions
  # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
 l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list(map(lambda x : x**2 , l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
#  Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and 


#     lambda functions

#     Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#       Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [10]:
 l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
my_tuple = tuple(map(lambda x: str(x), l2))

In [12]:
my_tuple

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [13]:
#   Q4.  Write a python program using reduce function to compute the product of a list containing numbers 
#     from 1 to 25.

In [19]:
l3=list(range(1,26))

In [20]:
l3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [22]:
from functools import  reduce

In [23]:
reduce(lambda x ,y : x*y , l3)

15511210043330985984000000

In [25]:
#  Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the 
#     filter function
# [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [32]:
l4=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [33]:
result = list(filter(lambda x: x % 2 == 0 and x % 3 == 0,l4 ))

In [34]:
result

[6, 60, 90, 120]

In [31]:
print(result)

[6, 60, 90, 120]

In [35]:
# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter 
#  function.


  #  ['python', 'php', 'aba', 'radar', 'level']

In [1]:
l5= ['python', 'php', 'aba', 'radar', 'level']

In [2]:
result = list(filter(lambda l5: l5 ==l5[::-1],l5 ))

In [3]:
result

['php', 'aba', 'radar', 'level']